
%h3 Пользователи системы
.span8
  %table.table.table-striped
    %thead
      %tr
        %th Имя пользователя
        %th Электронная почта
        %th Зарегистрирован
        %th Роль
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.email
          %td
            = l user.created_at.to_date,:format => :long
          %td= user.roles.first.name.titleize unless user.roles.first.nil?
          %td
            %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Изменить роль
            = render user
          %td= link_to("Удалить пользователя", user_path(user), :data => { :confirm => "Вы уверены?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user

