%h2 Авторизация
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    .col-md-4
      %div
        = f.label :email
        %br/
        = f.email_field :email, :autofocus => true, class:"form-control"
      %div
        = f.label :password
        %br/
        = f.password_field :password , class:"form-control"


      - if devise_mapping.rememberable?
        .checkbox
          = f.check_box :remember_me
          = f.label "Запомнить меня"

      .pull-right
        %div= f.submit "Войти", class:"btn btn-primary"
= render "devise/shared/links"

