!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'File App'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Fileapp'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      .masthead
        .text-muted
          %h3 Файловое хранилище

        = render 'layouts/navigation'
        %br
        = render 'layouts/messages'

        %br
        .row
          .col-md-12.blush
            = yield

